USE [master]
GO
/****** Object:  Database [ControlTecDb]    Script Date: 23/11/2025 3:48:14 ******/
CREATE DATABASE [ControlTecDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ControlTecDb', FILENAME = N'C:\Users\pange\ControlTecDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ControlTecDb_log', FILENAME = N'C:\Users\pange\ControlTecDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ControlTecDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ControlTecDb]
GO
/****** Object:  Table [dbo].[Documentos]    Script Date: 23/11/2025 3:48:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documentos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Tipo] [nvarchar](50) NULL,
	[Ruta] [nvarchar](255) NULL,
	[SolicitudId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentosRequeridos]    Script Date: 23/11/2025 3:48:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentosRequeridos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[ServicioId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialEstados]    Script Date: 23/11/2025 3:48:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialEstados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SolicitudId] [int] NOT NULL,
	[EstadoAnterior] [nvarchar](50) NULL,
	[EstadoNuevo] [nvarchar](50) NOT NULL,
	[Comentario] [nvarchar](500) NULL,
	[UsuarioId] [int] NOT NULL,
	[FechaCambio] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 23/11/2025 3:48:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[Costo] [decimal](18, 2) NULL,
	[RequierePago] [bit] NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Solicitudes]    Script Date: 23/11/2025 3:48:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solicitudes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioId] [int] NULL,
	[ServicioId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 23/11/2025 3:48:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Correo] [nvarchar](100) NOT NULL,
	[Contraseña] [nvarchar](100) NOT NULL,
	[Roll] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Documentos] ON 

INSERT [dbo].[Documentos] ([Id], [Nombre], [Tipo], [Ruta], [SolicitudId]) VALUES (1, N'Cedula escaneada', N'PDF', N'/docs/cedula.pdf', 5)
INSERT [dbo].[Documentos] ([Id], [Nombre], [Tipo], [Ruta], [SolicitudId]) VALUES (2, N'Cédula escaneada', N'PDF', N'/docs/cedula.pdf', 4)
INSERT [dbo].[Documentos] ([Id], [Nombre], [Tipo], [Ruta], [SolicitudId]) VALUES (4, N'Swagger UI a.pdf', N'application/pdf', N'/uploads/solicitudes/5/Swagger_UI_a.pdf', 5)
SET IDENTITY_INSERT [dbo].[Documentos] OFF
GO
SET IDENTITY_INSERT [dbo].[DocumentosRequeridos] ON 

INSERT [dbo].[DocumentosRequeridos] ([Id], [Nombre], [ServicioId]) VALUES (1, N'Documento requerido en PDF', 3)
INSERT [dbo].[DocumentosRequeridos] ([Id], [Nombre], [ServicioId]) VALUES (2, N'Otro documento opcional', 3)
INSERT [dbo].[DocumentosRequeridos] ([Id], [Nombre], [ServicioId]) VALUES (3, N'Documento Requerido', 4)
SET IDENTITY_INSERT [dbo].[DocumentosRequeridos] OFF
GO
SET IDENTITY_INSERT [dbo].[HistorialEstados] ON 

INSERT [dbo].[HistorialEstados] ([Id], [SolicitudId], [EstadoAnterior], [EstadoNuevo], [Comentario], [UsuarioId], [FechaCambio]) VALUES (2, 4, NULL, N'Depositada', N'Solicitud creada por el usuario', 2, CAST(N'2025-11-21T15:50:00.8719237' AS DateTime2))
INSERT [dbo].[HistorialEstados] ([Id], [SolicitudId], [EstadoAnterior], [EstadoNuevo], [Comentario], [UsuarioId], [FechaCambio]) VALUES (3, 4, N'Depositada', N'Revisión VUS', N'Enviada a revisión documental', 2, CAST(N'2025-11-21T15:50:00.8719237' AS DateTime2))
INSERT [dbo].[HistorialEstados] ([Id], [SolicitudId], [EstadoAnterior], [EstadoNuevo], [Comentario], [UsuarioId], [FechaCambio]) VALUES (4, 4, N'Revisión VUS', N'Aprobada', N'Solicitud aprobada por el analista', 1, CAST(N'2025-11-21T15:50:00.8719237' AS DateTime2))
SET IDENTITY_INSERT [dbo].[HistorialEstados] OFF
GO
SET IDENTITY_INSERT [dbo].[Servicios] ON 

INSERT [dbo].[Servicios] ([Id], [Nombre], [Descripcion], [Costo], [RequierePago], [Activo]) VALUES (1, N'Certificado de Inscripción de Drogas Controladas', N'Certificado necesario para la importación de medicamentos controlados', CAST(1500.00 AS Decimal(18, 2)), 1, 1)
INSERT [dbo].[Servicios] ([Id], [Nombre], [Descripcion], [Costo], [RequierePago], [Activo]) VALUES (2, N'Permiso de Importación', N'Permiso requerido para importar productos desde el extranjero', CAST(500.00 AS Decimal(18, 2)), 1, 1)
INSERT [dbo].[Servicios] ([Id], [Nombre], [Descripcion], [Costo], [RequierePago], [Activo]) VALUES (3, N'Nuevo Servicio', N'Descripción del servicio', CAST(300.00 AS Decimal(18, 2)), 1, 1)
SET IDENTITY_INSERT [dbo].[Servicios] OFF
GO
SET IDENTITY_INSERT [dbo].[Solicitudes] ON 

INSERT [dbo].[Solicitudes] ([Id], [Estado], [FechaCreacion], [UsuarioId], [ServicioId]) VALUES (4, N'Aprobada', CAST(N'2025-11-20T20:13:18.320' AS DateTime), 2, 2)
INSERT [dbo].[Solicitudes] ([Id], [Estado], [FechaCreacion], [UsuarioId], [ServicioId]) VALUES (5, N'Aprobada', CAST(N'2025-11-21T03:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[Solicitudes] ([Id], [Estado], [FechaCreacion], [UsuarioId], [ServicioId]) VALUES (6, N'Pendiente', CAST(N'2025-11-22T15:22:38.977' AS DateTime), 1, 2)
SET IDENTITY_INSERT [dbo].[Solicitudes] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Nombre], [Correo], [Contraseña], [Roll]) VALUES (1, N'Pedro', N'pedro@example.com', N'password123', N'Usuario')
INSERT [dbo].[Usuarios] ([Id], [Nombre], [Correo], [Contraseña], [Roll]) VALUES (2, N'Ana', N'ana@example.com', N'password123', N'Admin')
INSERT [dbo].[Usuarios] ([Id], [Nombre], [Correo], [Contraseña], [Roll]) VALUES (3, N'Carlos Pérez', N'carlos@example.com', N'Password123!', N'Usuario')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
/****** Object:  Index [IX_HistorialEstados_SolicitudId]    Script Date: 23/11/2025 3:48:14 ******/
CREATE NONCLUSTERED INDEX [IX_HistorialEstados_SolicitudId] ON [dbo].[HistorialEstados]
(
	[SolicitudId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HistorialEstados_UsuarioId]    Script Date: 23/11/2025 3:48:14 ******/
CREATE NONCLUSTERED INDEX [IX_HistorialEstados_UsuarioId] ON [dbo].[HistorialEstados]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HistorialEstados] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCambio]
GO
ALTER TABLE [dbo].[Documentos]  WITH CHECK ADD FOREIGN KEY([SolicitudId])
REFERENCES [dbo].[Solicitudes] ([Id])
GO
ALTER TABLE [dbo].[DocumentosRequeridos]  WITH CHECK ADD FOREIGN KEY([ServicioId])
REFERENCES [dbo].[Servicios] ([Id])
GO
ALTER TABLE [dbo].[HistorialEstados]  WITH CHECK ADD  CONSTRAINT [FK_HistorialEstados_Solicitudes] FOREIGN KEY([SolicitudId])
REFERENCES [dbo].[Solicitudes] ([Id])
GO
ALTER TABLE [dbo].[HistorialEstados] CHECK CONSTRAINT [FK_HistorialEstados_Solicitudes]
GO
ALTER TABLE [dbo].[HistorialEstados]  WITH CHECK ADD  CONSTRAINT [FK_HistorialEstados_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[HistorialEstados] CHECK CONSTRAINT [FK_HistorialEstados_Usuarios]
GO
ALTER TABLE [dbo].[Solicitudes]  WITH CHECK ADD FOREIGN KEY([ServicioId])
REFERENCES [dbo].[Servicios] ([Id])
GO
ALTER TABLE [dbo].[Solicitudes]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
USE [master]
GO
