USE [master]
GO
/****** Object:  Database [ControlTecDb]    Script Date: 14/12/2025 23:40:00 ******/
CREATE DATABASE [ControlTecDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ControlTecDb', FILENAME = N'C:\Users\pange\ControlTecDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ControlTecDb_log', FILENAME = N'C:\Users\pange\ControlTecDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ControlTecDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ControlTecDb]
GO
/****** Object:  Table [dbo].[Documentos]    Script Date: 14/12/2025 23:40:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documentos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Tipo] [nvarchar](50) NULL,
	[Ruta] [nvarchar](255) NULL,
	[SolicitudId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentosRequeridos]    Script Date: 14/12/2025 23:40:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentosRequeridos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](200) NULL,
	[ServicioId] [int] NULL,
	[Fase] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormularioDigital]    Script Date: 14/12/2025 23:40:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormularioDigital](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubservicioId] [int] NOT NULL,
	[EstructuraJson] [nvarchar](max) NOT NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialEstados]    Script Date: 14/12/2025 23:40:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialEstados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SolicitudId] [int] NOT NULL,
	[EstadoAnterior] [nvarchar](50) NULL,
	[EstadoNuevo] [nvarchar](50) NOT NULL,
	[Comentario] [nvarchar](500) NULL,
	[UsuarioId] [int] NOT NULL,
	[FechaCambio] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RespuestaFormularioDigital]    Script Date: 14/12/2025 23:40:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RespuestaFormularioDigital](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SolicitudId] [int] NOT NULL,
	[FormularioDigitalId] [int] NOT NULL,
	[RespuestasJson] [nvarchar](max) NOT NULL,
	[FechaEnvio] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 14/12/2025 23:40:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Costo] [decimal](18, 2) NULL,
	[RequierePago] [bit] NULL,
	[Activo] [bit] NULL,
	[RutaFormularioBase] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Solicitudes]    Script Date: 14/12/2025 23:40:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solicitudes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioId] [int] NULL,
	[ServicioId] [int] NULL,
	[RutaCertificado] [nvarchar](300) NULL,
	[RutaComunicacionRechazo] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subservicio]    Script Date: 14/12/2025 23:40:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subservicio](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[ServicioId] [int] NOT NULL,
	[RutaFormularioBase] [nvarchar](255) NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TwoFactorCodes]    Script Date: 14/12/2025 23:40:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TwoFactorCodes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NOT NULL,
	[CodigoHash] [nvarchar](64) NOT NULL,
	[ExpiraEn] [datetime2](7) NOT NULL,
	[Usado] [bit] NOT NULL,
	[Intentos] [int] NOT NULL,
	[SessionToken] [nvarchar](64) NOT NULL,
 CONSTRAINT [PK_TwoFactorCodes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 14/12/2025 23:40:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Correo] [nvarchar](100) NOT NULL,
	[Contraseña] [nvarchar](100) NOT NULL,
	[Roll] [nvarchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
	[EsInternoPendiente] [bit] NOT NULL,
	[Cedula] [varchar](11) NOT NULL,
	[EmailConfirmacionExpira] [datetime2](7) NULL,
	[EmailConfirmacionToken] [nvarchar](200) NULL,
	[EmailConfirmado] [bit] NOT NULL,
	[FechaEmailConfirmado] [datetime2](7) NULL,
	[CodigoVerificacion] [varchar](10) NULL,
	[CodigoVerificacionExpira] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Usuarios_Cedula] UNIQUE NONCLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_HistorialEstados_SolicitudId]    Script Date: 14/12/2025 23:40:00 ******/
CREATE NONCLUSTERED INDEX [IX_HistorialEstados_SolicitudId] ON [dbo].[HistorialEstados]
(
	[SolicitudId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HistorialEstados_UsuarioId]    Script Date: 14/12/2025 23:40:00 ******/
CREATE NONCLUSTERED INDEX [IX_HistorialEstados_UsuarioId] ON [dbo].[HistorialEstados]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TwoFactorCodes_SessionToken]    Script Date: 14/12/2025 23:40:00 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TwoFactorCodes_SessionToken] ON [dbo].[TwoFactorCodes]
(
	[SessionToken] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TwoFactorCodes_UsuarioId]    Script Date: 14/12/2025 23:40:00 ******/
CREATE NONCLUSTERED INDEX [IX_TwoFactorCodes_UsuarioId] ON [dbo].[TwoFactorCodes]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DocumentosRequeridos] ADD  DEFAULT ((1)) FOR [Fase]
GO
ALTER TABLE [dbo].[FormularioDigital] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[HistorialEstados] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCambio]
GO
ALTER TABLE [dbo].[RespuestaFormularioDigital] ADD  DEFAULT (getdate()) FOR [FechaEnvio]
GO
ALTER TABLE [dbo].[Subservicio] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_EsInternoPendiente]  DEFAULT ((0)) FOR [EsInternoPendiente]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_EmailConfirmado]  DEFAULT (CONVERT([bit],(0))) FOR [EmailConfirmado]
GO
ALTER TABLE [dbo].[Documentos]  WITH CHECK ADD FOREIGN KEY([SolicitudId])
REFERENCES [dbo].[Solicitudes] ([Id])
GO
ALTER TABLE [dbo].[DocumentosRequeridos]  WITH CHECK ADD FOREIGN KEY([ServicioId])
REFERENCES [dbo].[Servicios] ([Id])
GO
ALTER TABLE [dbo].[FormularioDigital]  WITH CHECK ADD FOREIGN KEY([SubservicioId])
REFERENCES [dbo].[Subservicio] ([Id])
GO
ALTER TABLE [dbo].[HistorialEstados]  WITH CHECK ADD  CONSTRAINT [FK_HistorialEstados_Solicitudes] FOREIGN KEY([SolicitudId])
REFERENCES [dbo].[Solicitudes] ([Id])
GO
ALTER TABLE [dbo].[HistorialEstados] CHECK CONSTRAINT [FK_HistorialEstados_Solicitudes]
GO
ALTER TABLE [dbo].[HistorialEstados]  WITH CHECK ADD  CONSTRAINT [FK_HistorialEstados_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[HistorialEstados] CHECK CONSTRAINT [FK_HistorialEstados_Usuarios]
GO
ALTER TABLE [dbo].[RespuestaFormularioDigital]  WITH CHECK ADD FOREIGN KEY([FormularioDigitalId])
REFERENCES [dbo].[FormularioDigital] ([Id])
GO
ALTER TABLE [dbo].[RespuestaFormularioDigital]  WITH CHECK ADD FOREIGN KEY([SolicitudId])
REFERENCES [dbo].[Solicitudes] ([Id])
GO
ALTER TABLE [dbo].[Solicitudes]  WITH CHECK ADD FOREIGN KEY([ServicioId])
REFERENCES [dbo].[Servicios] ([Id])
GO
ALTER TABLE [dbo].[Solicitudes]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Subservicio]  WITH CHECK ADD FOREIGN KEY([ServicioId])
REFERENCES [dbo].[Servicios] ([Id])
GO
ALTER TABLE [dbo].[TwoFactorCodes]  WITH CHECK ADD  CONSTRAINT [FK_TwoFactorCodes_Usuarios_UsuarioId] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TwoFactorCodes] CHECK CONSTRAINT [FK_TwoFactorCodes_Usuarios_UsuarioId]
GO
/****** Object:  StoredProcedure [dbo].[sp_AprobarUsuarioInterno]    Script Date: 14/12/2025 23:40:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AprobarUsuarioInterno]
    @UsuarioId INT,
    @NuevoRol  NVARCHAR(50)   -- Ej: 'VUS', 'DNCD', 'EncargadoUPC', 'TecnicoUPC', 'Analista', 'Direccion', 'Admin'
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Usuarios
    SET Roll = @NuevoRol,
        Activo = 1,
        EsInternoPendiente = 0
    WHERE Id = @UsuarioId;

    SELECT Id, Nombre, Correo, Roll, Activo, EsInternoPendiente, Cedula
    FROM Usuarios
    WHERE Id = @UsuarioId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CambiarEstado]    Script Date: 14/12/2025 23:40:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CambiarEstado]
    @SolicitudId INT,
    @EstadoNuevo VARCHAR(100),
    @Comentario VARCHAR(500),
    @UsuarioId INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @EstadoAnterior VARCHAR(100);

    -- Obtener estado previo
    SELECT @EstadoAnterior = Estado
    FROM Solicitudes
    WHERE Id = @SolicitudId;

    -- Actualizar solicitud
    UPDATE Solicitudes
    SET Estado = @EstadoNuevo
    WHERE Id = @SolicitudId;

    -- Insertar historial
    INSERT INTO HistorialEstados (SolicitudId, EstadoAnterior, EstadoNuevo, Comentario, UsuarioId, FechaCambio)
    VALUES (@SolicitudId, @EstadoAnterior, @EstadoNuevo, @Comentario, @UsuarioId, GETDATE());

    -- Devolver datos actualizados
    SELECT s.*, u.Nombre AS UsuarioNombre
    FROM Solicitudes s
    INNER JOIN Usuarios u ON u.Id = s.UsuarioId
    WHERE s.Id = @SolicitudId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CambiarEstadoSolicitud]    Script Date: 14/12/2025 23:40:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CambiarEstadoSolicitud]
    @SolicitudId INT,
    @EstadoNuevo VARCHAR(100),
    @Comentario  VARCHAR(500),
    @UsuarioId   INT
AS
BEGIN
    SET NOCOUNT ON;
    EXEC dbo.sp_CambiarEstado @SolicitudId, @EstadoNuevo, @Comentario, @UsuarioId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearSolicitud]    Script Date: 14/12/2025 23:40:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CrearSolicitud]
    @UsuarioId INT,
    @ServicioId INT,
    @Comentario VARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Crear solicitud
    INSERT INTO Solicitudes (UsuarioId, ServicioId, Estado, FechaCreacion)
    VALUES (@UsuarioId, @ServicioId, 'Pendiente', GETDATE());

    DECLARE @SolicitudId INT = SCOPE_IDENTITY();

    -- Registrar historial inicial
    INSERT INTO HistorialEstados (SolicitudId, EstadoAnterior, EstadoNuevo, Comentario, UsuarioId, FechaCambio)
    VALUES (@SolicitudId, NULL, 'Pendiente', @Comentario, @UsuarioId, GETDATE());

    -- Devolver la solicitud creada
    SELECT *
    FROM Solicitudes
    WHERE Id = @SolicitudId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_IniciarSolicitud]    Script Date: 14/12/2025 23:40:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_IniciarSolicitud]
    @UsuarioId INT,
    @ServicioId INT,
    @Comentario VARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    EXEC dbo.sp_CrearSolicitud @UsuarioId, @ServicioId, @Comentario;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarSolicitudesFiltradas]    Script Date: 14/12/2025 23:40:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarSolicitudesFiltradas]
    @Estado      VARCHAR(100) = NULL,
    @ServicioId  INT          = NULL,
    @UsuarioId   INT          = NULL,
    @FechaDesde  DATE         = NULL,
    @FechaHasta  DATE         = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        s.Id,
        s.Estado,
        s.FechaCreacion,
        u.Id   AS UsuarioId,
        u.Nombre AS UsuarioNombre,
        u.Correo,
        serv.Id AS ServicioId,
        serv.Nombre AS ServicioNombre
    FROM Solicitudes s
    LEFT JOIN Usuarios  u    ON u.Id    = s.UsuarioId
    LEFT JOIN Servicios serv ON serv.Id = s.ServicioId
    WHERE
        (@Estado IS NULL OR s.Estado = @Estado)
        AND (@ServicioId IS NULL OR s.ServicioId = @ServicioId)
        AND (@UsuarioId IS NULL OR s.UsuarioId = @UsuarioId)
        AND (@FechaDesde IS NULL OR s.FechaCreacion >= @FechaDesde)
        AND (@FechaHasta IS NULL OR s.FechaCreacion < DATEADD(DAY, 1, @FechaHasta))
    ORDER BY s.FechaCreacion DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarSolicitudesPorUsuario]    Script Date: 14/12/2025 23:40:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarSolicitudesPorUsuario]
    @UsuarioId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        s.Id,
        s.Estado,
        s.FechaCreacion,
        serv.Nombre AS Servicio,
        serv.Costo
    FROM Solicitudes s
    INNER JOIN Servicios serv ON serv.Id = s.ServicioId
    WHERE s.UsuarioId = @UsuarioId
    ORDER BY s.FechaCreacion DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerSolicitudesPorUsuario]    Script Date: 14/12/2025 23:40:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObtenerSolicitudesPorUsuario]
    @UsuarioId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        s.Id,
        s.Estado,
        s.FechaCreacion,
        serv.Nombre AS Servicio,
        serv.Costo,
        COUNT(h.Id) AS CantMovimientos
    FROM Solicitudes s
    LEFT JOIN Servicios        serv ON serv.Id = s.ServicioId
    LEFT JOIN HistorialEstados h    ON h.SolicitudId = s.Id
    WHERE s.UsuarioId = @UsuarioId
    GROUP BY s.Id, s.Estado, s.FechaCreacion, serv.Nombre, serv.Costo
    ORDER BY s.FechaCreacion DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarUsuario]    Script Date: 14/12/2025 23:40:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarUsuario]
    @Nombre           NVARCHAR(100),
    @Correo           NVARCHAR(150),
    @Password         NVARCHAR(200),
    @Cedula           CHAR(11),
    @TipoUsuario      NVARCHAR(20),        -- 'Solicitante' o 'Interno'
    @RolInternoDeseado NVARCHAR(50) = NULL -- solo informativo (no se guarda en columna)
AS
BEGIN
    SET NOCOUNT ON;

    -- Validar correo único
    IF EXISTS (SELECT 1 FROM Usuarios WHERE Correo = @Correo)
    BEGIN
        RAISERROR('Ya existe un usuario con ese correo.', 16, 1);
        RETURN;
    END

    DECLARE @Roll NVARCHAR(50);
    DECLARE @Activo BIT;
    DECLARE @EsInternoPendiente BIT;

    IF (@TipoUsuario = 'Interno')
    BEGIN
        -- Usuario interno pendiente de aprobación
        SET @Roll = 'Pendiente';
        SET @Activo = 0;
        SET @EsInternoPendiente = 1;
    END
    ELSE
    BEGIN
        -- Usuario solicitante normal
        SET @Roll = 'Solicitante';
        SET @Activo = 1;
        SET @EsInternoPendiente = 0;
    END

    INSERT INTO Usuarios (Nombre, Correo, Contraseña, Roll, Activo, EsInternoPendiente, Cedula)
    VALUES (@Nombre, @Correo, @Password, @Roll, @Activo, @EsInternoPendiente, @Cedula);

    DECLARE @UsuarioId INT = SCOPE_IDENTITY();

    SELECT Id, Nombre, Correo, Roll, Activo, EsInternoPendiente, Cedula
    FROM Usuarios
    WHERE Id = @UsuarioId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SubirDocumento]    Script Date: 14/12/2025 23:40:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SubirDocumento]
    @SolicitudId INT,
    @Nombre      NVARCHAR(260),
    @Tipo        NVARCHAR(100),
    @Ruta        NVARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Documentos (Nombre, Tipo, Ruta, SolicitudId)
    VALUES (@Nombre, @Tipo, @Ruta, @SolicitudId);

    DECLARE @DocumentoId INT = SCOPE_IDENTITY();

    SELECT *
    FROM Documentos
    WHERE Id = @DocumentoId;
END;
GO
USE [master]
GO
