USE [master]
GO
/****** Object:  Database [ControlTecDb]    Script Date: 28/11/2025 3:13:07 ******/
CREATE DATABASE [ControlTecDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ControlTecDb', FILENAME = N'C:\Users\pange\ControlTecDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ControlTecDb_log', FILENAME = N'C:\Users\pange\ControlTecDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ControlTecDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ControlTecDb]
GO
/****** Object:  Table [dbo].[Documentos]    Script Date: 28/11/2025 3:13:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documentos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Tipo] [nvarchar](50) NULL,
	[Ruta] [nvarchar](255) NULL,
	[SolicitudId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentosRequeridos]    Script Date: 28/11/2025 3:13:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentosRequeridos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](200) NULL,
	[ServicioId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialEstados]    Script Date: 28/11/2025 3:13:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialEstados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SolicitudId] [int] NOT NULL,
	[EstadoAnterior] [nvarchar](50) NULL,
	[EstadoNuevo] [nvarchar](50) NOT NULL,
	[Comentario] [nvarchar](500) NULL,
	[UsuarioId] [int] NOT NULL,
	[FechaCambio] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 28/11/2025 3:13:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Costo] [decimal](18, 2) NULL,
	[RequierePago] [bit] NULL,
	[Activo] [bit] NULL,
	[RutaFormularioBase] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Solicitudes]    Script Date: 28/11/2025 3:13:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solicitudes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UsuarioId] [int] NULL,
	[ServicioId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 28/11/2025 3:13:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Correo] [nvarchar](100) NOT NULL,
	[Contraseña] [nvarchar](100) NOT NULL,
	[Roll] [nvarchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
	[EsInternoPendiente] [bit] NOT NULL,
	[Cedula] [varchar](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Documentos] ON 

INSERT [dbo].[Documentos] ([Id], [Nombre], [Tipo], [Ruta], [SolicitudId]) VALUES (1, N'Proyecto final laboratorio de ingenieria en factores humanos.pdf', N'application/pdf', N'/uploads/solicitudes/1/Proyecto_final_laboratorio_de_ingenieria_en_factores_humanos.pdf', 1)
INSERT [dbo].[Documentos] ([Id], [Nombre], [Tipo], [Ruta], [SolicitudId]) VALUES (2, N'Proyecto final laboratorio de ingenieria en factores humanos AAAAAA.pdf', N'application/pdf', N'/uploads/solicitudes/2/Proyecto_final_laboratorio_de_ingenieria_en_factores_humanos_AAAAAA.pdf', 2)
INSERT [dbo].[Documentos] ([Id], [Nombre], [Tipo], [Ruta], [SolicitudId]) VALUES (3, N'Swagger_UI_a.pdf', N'application/pdf', N'/uploads/solicitudes/2/Swagger_UI_a.pdf', 2)
SET IDENTITY_INSERT [dbo].[Documentos] OFF
GO
SET IDENTITY_INSERT [dbo].[DocumentosRequeridos] ON 

INSERT [dbo].[DocumentosRequeridos] ([Id], [Nombre], [ServicioId]) VALUES (3, N'Formulario LI-UPC-01 completado y firmado', 1)
INSERT [dbo].[DocumentosRequeridos] ([Id], [Nombre], [ServicioId]) VALUES (4, N'Copia de cédula del representante legal', 1)
INSERT [dbo].[DocumentosRequeridos] ([Id], [Nombre], [ServicioId]) VALUES (5, N'Registro Mercantil', 1)
SET IDENTITY_INSERT [dbo].[DocumentosRequeridos] OFF
GO
SET IDENTITY_INSERT [dbo].[HistorialEstados] ON 

INSERT [dbo].[HistorialEstados] ([Id], [SolicitudId], [EstadoAnterior], [EstadoNuevo], [Comentario], [UsuarioId], [FechaCambio]) VALUES (1, 1, NULL, N'Pendiente', N'Solicitud iniciada desde el portal.', 1, CAST(N'2025-11-23T22:22:26.9755699' AS DateTime2))
INSERT [dbo].[HistorialEstados] ([Id], [SolicitudId], [EstadoAnterior], [EstadoNuevo], [Comentario], [UsuarioId], [FechaCambio]) VALUES (2, 2, NULL, N'Pendiente', N'Solicitud iniciada desde el portal.', 1, CAST(N'2025-11-23T22:41:36.8704233' AS DateTime2))
INSERT [dbo].[HistorialEstados] ([Id], [SolicitudId], [EstadoAnterior], [EstadoNuevo], [Comentario], [UsuarioId], [FechaCambio]) VALUES (3, 2, N'Pendiente', N'Depositada', N'Envío final de la solicitud.', 1, CAST(N'2025-11-23T22:42:46.9372318' AS DateTime2))
SET IDENTITY_INSERT [dbo].[HistorialEstados] OFF
GO
SET IDENTITY_INSERT [dbo].[Servicios] ON 

INSERT [dbo].[Servicios] ([Id], [Nombre], [Descripcion], [Costo], [RequierePago], [Activo], [RutaFormularioBase]) VALUES (1, N'LI-UPC-01 Certificado de Inscripción de Drogas Controladas Clase A', N'Certificado necesario para la importación de medicamentos y sustancias controladas de Clase A.', CAST(1500.00 AS Decimal(18, 2)), 1, 1, N'/uploads/forms/LI-UPC-01.pdf')
INSERT [dbo].[Servicios] ([Id], [Nombre], [Descripcion], [Costo], [RequierePago], [Activo], [RutaFormularioBase]) VALUES (2, N'LI-UPC-02 Certificado de Inscripción de Drogas Controladas Clase B para Establecimientos Privados', N'Certificado de inscripción Clase B para clínicas, farmacias y otros establecimientos privados.', CAST(1200.00 AS Decimal(18, 2)), 1, 1, N'/uploads/forms/LI-UPC-02.pdf')
INSERT [dbo].[Servicios] ([Id], [Nombre], [Descripcion], [Costo], [RequierePago], [Activo], [RutaFormularioBase]) VALUES (3, N'LI-UPC-03 Certificado de Inscripción de Drogas Controladas Clase B para Hospitales Públicos y otras Instituciones Públicas', N'Certificado de inscripción Clase B para hospitales públicos y otras instituciones públicas.', CAST(0.00 AS Decimal(18, 2)), 0, 1, N'/uploads/forms/LI-UPC-03.pdf')
SET IDENTITY_INSERT [dbo].[Servicios] OFF
GO
SET IDENTITY_INSERT [dbo].[Solicitudes] ON 

INSERT [dbo].[Solicitudes] ([Id], [Estado], [FechaCreacion], [UsuarioId], [ServicioId]) VALUES (1, N'EnRevisionVUS', CAST(N'2025-11-23T22:22:26.867' AS DateTime), 1, 1)
INSERT [dbo].[Solicitudes] ([Id], [Estado], [FechaCreacion], [UsuarioId], [ServicioId]) VALUES (2, N'EnRevisionVUS', CAST(N'2025-11-23T22:41:36.760' AS DateTime), 1, 1)
INSERT [dbo].[Solicitudes] ([Id], [Estado], [FechaCreacion], [UsuarioId], [ServicioId]) VALUES (3, N'EnRevisionVUS', CAST(N'2025-11-23T22:44:59.793' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Solicitudes] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Nombre], [Correo], [Contraseña], [Roll], [Activo], [EsInternoPendiente], [Cedula]) VALUES (1, N'Pedro', N'pedro@example.com', N'password123', N'Solicitante', 1, 0, N'40228051328')
INSERT [dbo].[Usuarios] ([Id], [Nombre], [Correo], [Contraseña], [Roll], [Activo], [EsInternoPendiente], [Cedula]) VALUES (2, N'Ana', N'ana@example.com', N'password123', N'Admin', 1, 0, N'00145782137')
INSERT [dbo].[Usuarios] ([Id], [Nombre], [Correo], [Contraseña], [Roll], [Activo], [EsInternoPendiente], [Cedula]) VALUES (3, N'Carlos Pérez', N'carlos@example.com', N'Password123!', N'Solicitante', 1, 0, N'00198357214')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
/****** Object:  Index [IX_HistorialEstados_SolicitudId]    Script Date: 28/11/2025 3:13:07 ******/
CREATE NONCLUSTERED INDEX [IX_HistorialEstados_SolicitudId] ON [dbo].[HistorialEstados]
(
	[SolicitudId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HistorialEstados_UsuarioId]    Script Date: 28/11/2025 3:13:07 ******/
CREATE NONCLUSTERED INDEX [IX_HistorialEstados_UsuarioId] ON [dbo].[HistorialEstados]
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Usuarios_Cedula]    Script Date: 28/11/2025 3:13:07 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuarios_Cedula] UNIQUE NONCLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HistorialEstados] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCambio]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_EsInternoPendiente]  DEFAULT ((0)) FOR [EsInternoPendiente]
GO
ALTER TABLE [dbo].[Documentos]  WITH CHECK ADD FOREIGN KEY([SolicitudId])
REFERENCES [dbo].[Solicitudes] ([Id])
GO
ALTER TABLE [dbo].[DocumentosRequeridos]  WITH CHECK ADD FOREIGN KEY([ServicioId])
REFERENCES [dbo].[Servicios] ([Id])
GO
ALTER TABLE [dbo].[HistorialEstados]  WITH CHECK ADD  CONSTRAINT [FK_HistorialEstados_Solicitudes] FOREIGN KEY([SolicitudId])
REFERENCES [dbo].[Solicitudes] ([Id])
GO
ALTER TABLE [dbo].[HistorialEstados] CHECK CONSTRAINT [FK_HistorialEstados_Solicitudes]
GO
ALTER TABLE [dbo].[HistorialEstados]  WITH CHECK ADD  CONSTRAINT [FK_HistorialEstados_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[HistorialEstados] CHECK CONSTRAINT [FK_HistorialEstados_Usuarios]
GO
ALTER TABLE [dbo].[Solicitudes]  WITH CHECK ADD FOREIGN KEY([ServicioId])
REFERENCES [dbo].[Servicios] ([Id])
GO
ALTER TABLE [dbo].[Solicitudes]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[sp_CambiarEstado]    Script Date: 28/11/2025 3:13:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CambiarEstado]
    @SolicitudId INT,
    @EstadoNuevo VARCHAR(100),
    @Comentario VARCHAR(500),
    @UsuarioId INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @EstadoAnterior VARCHAR(100);

    SELECT @EstadoAnterior = Estado 
    FROM Solicitudes WHERE Id = @SolicitudId;

    -- Actualizar solicitud
    UPDATE Solicitudes
    SET Estado = @EstadoNuevo
    WHERE Id = @SolicitudId;

    -- Insertar historial
    INSERT INTO HistorialEstados (SolicitudId, EstadoAnterior, EstadoNuevo, Comentario, UsuarioId, FechaCambio)
    VALUES (@SolicitudId, @EstadoAnterior, @EstadoNuevo, @Comentario, @UsuarioId, GETDATE());

    -- Devolver datos actualizados
    SELECT * FROM Solicitudes WHERE Id = @SolicitudId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearSolicitud]    Script Date: 28/11/2025 3:13:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CrearSolicitud]
    @UsuarioId INT,
    @ServicioId INT,
    @Comentario VARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Crear solicitud
    INSERT INTO Solicitudes (UsuarioId, ServicioId, Estado, FechaCreacion)
    VALUES (@UsuarioId, @ServicioId, 'Pendiente', GETDATE());

    DECLARE @SolicitudId INT = SCOPE_IDENTITY();

    -- Registrar historial inicial
    INSERT INTO HistorialEstados (SolicitudId, EstadoAnterior, EstadoNuevo, Comentario, UsuarioId, FechaCambio)
    VALUES (@SolicitudId, NULL, 'Pendiente', ISNULL(@Comentario, 'Solicitud iniciada'), @UsuarioId, GETDATE());

    -- Devolver la solicitud creada
    SELECT * FROM Solicitudes WHERE Id = @SolicitudId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarSolicitudesFiltradas]    Script Date: 28/11/2025 3:13:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarSolicitudesFiltradas]
    @Estado VARCHAR(100) = NULL,
    @ServicioId INT = NULL,
    @UsuarioId INT = NULL,
    @FechaDesde DATE = NULL,
    @FechaHasta DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        s.Id,
        s.Estado,
        s.FechaCreacion,
        u.Nombre AS Usuario,
        serv.Nombre AS Servicio,
        (SELECT TOP 1 EstadoNuevo 
         FROM HistorialEstados h 
         WHERE h.SolicitudId = s.Id
         ORDER BY h.FechaCambio DESC) AS UltimoEstado
    FROM Solicitudes s
    INNER JOIN Usuarios u ON u.Id = s.UsuarioId
    INNER JOIN Servicios serv ON serv.Id = s.ServicioId
    WHERE
        (@Estado IS NULL OR s.Estado = @Estado)
        AND (@ServicioId IS NULL OR s.ServicioId = @ServicioId)
        AND (@UsuarioId IS NULL OR s.UsuarioId = @UsuarioId)
        AND (@FechaDesde IS NULL OR s.FechaCreacion >= @FechaDesde)
        AND (@FechaHasta IS NULL OR s.FechaCreacion <= @FechaHasta)
    ORDER BY s.FechaCreacion DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarSolicitudesPorUsuario]    Script Date: 28/11/2025 3:13:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarSolicitudesPorUsuario]
    @UsuarioId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        s.Id,
        s.Estado,
        s.FechaCreacion,
        serv.Nombre AS Servicio,
        serv.Costo
    FROM Solicitudes s
    INNER JOIN Servicios serv ON serv.Id = s.ServicioId
    WHERE s.UsuarioId = @UsuarioId
    ORDER BY s.FechaCreacion DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SubirDocumento]    Script Date: 28/11/2025 3:13:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SubirDocumento]
    @SolicitudId INT,
    @Nombre VARCHAR(255),
    @Tipo VARCHAR(255),
    @Ruta VARCHAR(500)
AS
BEGIN
    INSERT INTO Documentos (SolicitudId, Nombre, Tipo, Ruta)
    VALUES (@SolicitudId, @Nombre, @Tipo, @Ruta);

    SELECT * FROM Documentos WHERE Id = SCOPE_IDENTITY();
END;
GO
USE [master]
GO
